#common-header {
  -webkit-app-region: drag;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  height: 46px;
  box-shadow: 0px 1px 0px 0px #DDDDDD;
}
#common-header .header-l {
  -webkit-app-region: no-drag;
  display: flex;
}
#common-header .header-l .logo {
  width: 86px;
  height: 26px;
  margin: 10px 6px 10px 32px;
  background: url(~assets/img/logo.webp) no-repeat center / 100%;
}
#common-header .header-l > span {
  color: #AF0101;
  font-weight: 600;
  font-family: Source Han Sans CN;
  font-size: 23px;
  margin: 15px 0 0 0;
}
#common-header .header-r {
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
}
#common-header .header-r .title-bar-container {
  display: flex;
  align-items: center;
  height: 100%;
}
#common-header .header-r .title-bar-container .bar-r {
  display: flex;
  align-items: center;
}
#common-header .header-r .title-bar-container .icon-close-win {
  margin: 0 34px 0 0;
}
#common-header .header-r .user-bar {
  display: flex;
  align-items: center;
}
#common-header .header-r .user-bar > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
#common-header .header-r .user-bar > span {
  font-size: 14px;
  color: #282828;
  margin: 0 35px 0 10px;
}
.title-bar-container {
  cursor: pointer;
}
.title-bar-container i {
  cursor: pointer;
}
