#common-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #eee;
  height: 24px;
  line-height: 24px;
}
.title-bar-container {
  cursor: pointer;
}
.title-bar-container i {
  cursor: pointer;
}
