@import '../../assets/style/mixin.less';

.room-page-container {
    display: flex;
    justify-content: space-between;
}

.section-wrap-l {
    flex-basis: 820px;
    width: 820px;
    margin-right: 10px;
}

.section-wrap-r {
    flex: 1;
}

.section-video {
    height: 500px;
    background: #fff;
}

.section-detail {
    margin-top: 20px;
    height: 240px;
    background: #fff;

    .tab-container {
        &.desc {
            .wrap-item {
                &.time {
                    display: flex;
                }

                &.member {
                    dl {
                        display: flex;

                        dt {
                            width: 160px;
                            height: 160px;

                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }

        &.img-text {}

        &.product-view {}

        &.file-download {}
    }
}

.section-chat {
    height: 250px;
    background: #fff;
}

.section-activity {
    margin-top: 20px;
    height: 240px;
    background: #fff;
}