.limit {
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-around {
  display: flex;
  justify-content: space-around;
}
h1,
h2,
h3,
p,
label {
  padding: 0;
  margin: 0;
}
.room-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.room-page-container > main {
  flex: 1;
  display: flex;
}
.room-page-container .pupop-tab-title {
  position: relative;
  font-weight: 600;
  color: #1F1F1F;
  font-size: 16px;
  line-height: 1;
  padding-left: 13px;
}
.room-page-container .pupop-tab-title::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 16px;
  background: #AF0101;
  border-radius: 2px;
}
.section-wrap-l {
  box-sizing: border-box;
  width: 90px;
  flex-basis: 90px;
  background: #424242;
  border-bottom: 1px solid #2C2C2C;
}
.section-wrap-m {
  width: calc(calc(100vh - 50px - 50px - 30px) * 1.51694915);
  flex-basis: calc(calc(100vh - 50px - 50px - 30px) * 1.51694915);
  display: flex;
  flex-direction: column;
}
.section-wrap-r {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.section-video {
  flex: 1;
  background: #000000;
}
.section-menu {
  height: 50px;
  flex-basis: 50px;
}
.section-menu nav {
  display: flex;
  height: 100%;
  align-items: center;
  background: #2C2C2C;
}
.section-menu nav a {
  min-width: 80px;
  height: 26px;
  line-height: 24px;
  box-sizing: border-box;
  text-align: center;
  color: #CDCFCE;
  font-size: 12px;
  border-radius: 13px;
  border: 1px solid #CDCFCE;
  display: inline-block;
  margin: 0 0 0 16px;
}
.section-menu .tab-container.desc .wrap-item.time {
  display: flex;
}
.section-menu .tab-container.desc .wrap-item.member dl {
  display: flex;
}
.section-menu .tab-container.desc .wrap-item.member dl dt {
  width: 160px;
  height: 160px;
}
.section-menu .tab-container.desc .wrap-item.member dl dt img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.thumb-video-container {
  background: #6F92D4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(calc(100vw - 90px - calc(calc(100vh - 50px - 50px - 30px) * 1.51694915)) / 1.77710843);
  flex-basis: calc(calc(100vw - 90px - calc(calc(100vh - 50px - 50px - 30px) * 1.51694915)) / 1.77710843);
}
.live-info-container {
  background: #fff;
  flex: 1;
}
.live-info-container .nav-panel {
  border-bottom: 1px solid #E6E6E6;
  padding: 0 16px;
}
.live-info-container nav {
  display: flex;
  align-items: center;
  height: 44px;
  flex: 1;
}
.live-info-container nav a {
  height: 100%;
  width: auto;
  margin: 0 0 0 16px;
  color: #808080;
  font-size: 14px;
  line-height: 44px;
}
.live-info-container nav a:first-child {
  margin-left: 0;
}
.live-info-container nav a.active {
  border-bottom: 1px solid #1F1F1F;
  color: #1F1F1F;
}
.live-info-container .hot-label {
  display: flex;
  align-items: center;
  color: #1F1F1F;
  padding-left: 17px;
  position: relative;
}
.live-info-container .hot-label::before {
  content: ' ';
  position: absolute;
  top: 15px;
  left: 0;
  width: 12px;
  height: 14px;
  background: url(~assets/img/room/i-hot.webp) no-repeat center / 100%;
}
.live-info-container .tab-container {
  padding: 0 16px;
}
.live-info-container .tab-container .list-loading {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 24px;
  line-height: 24px;
  background: #fff;
  text-align: center;
  font-size: 14px;
  color: #808080;
}
.live-info-container .tab-container .panel-contain {
  position: relative;
  height: calc(100vh - 44px - 50px - 30px - 150px - calc(calc(100vw - 90px - calc(calc(100vh - 50px - 50px - 30px) * 1.51694915)) / 1.77710843));
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 0.3s ease;
}
.live-info-container .tab-container .panel-contain:hover {
  transition: all 0.3s ease;
  overflow-y: overlay;
}
.live-info-container .tab-container .panel-contain.empty h3 {
  color: #808080;
  text-align: center;
}
.live-info-container .tab-container .panel-contain .wrap-item.no-more {
  color: #808080;
  height: 24px;
  width: 100%;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
}
.live-info-container .tab-container.interactive {
  position: relative;
}
.live-info-container .tab-container.interactive .chat-panel .wrap-item {
  margin: 0 0 16px 0;
}
.live-info-container .tab-container.interactive .chat-panel .wrap-item.no-more {
  margin: 10px 0 0 0;
}
.live-info-container .tab-container.interactive .chat-panel .wrap-item.notice {
  margin: 22px 0 0 0;
  color: #2691E9;
  font-size: 14px;
}
.live-info-container .tab-container.interactive .chat-panel .wrap-item > label {
  font-size: 14px;
  color: #1F1F1F;
  cursor: pointer;
}
.live-info-container .tab-container.interactive .chat-panel .wrap-item > label.role {
  color: #2691E9;
}
.live-info-container .tab-container.interactive .chat-panel .wrap-item > p {
  white-space: normal;
  word-break: break-all;
  font-size: 14px;
  line-height: 22px;
  margin: 10px 0 0 0;
  color: #808080;
}
.live-info-container .tab-container.interactive .chat-panel .wrap-item img {
  width: 15px;
  height: 17px;
}
.live-info-container .tab-container.quest-and-answer {
  padding: 0;
}
.live-info-container .tab-container.quest-and-answer .panel-contain,
.live-info-container .tab-container.quest-and-answer .editor-container {
  padding: 0 16px;
}
.live-info-container .tab-container.quest-and-answer .wrap-item {
  border-radius: 4px;
  box-shadow: 0 0 8px 0 hsla(0, 0%, 72.2%, 0.7);
  margin: 0 0 20px 0;
}
.live-info-container .tab-container.quest-and-answer .wrap-item.no-more {
  box-shadow: unset;
  border-radius: unset;
  margin: 10px 0 0 0;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line {
  padding: 0 10px;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 0;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line .title h1 {
  font-weight: 600;
  font-size: 0;
  line-height: 1;
  display: flex;
  align-items: center;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line .title h1 i {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background: #E6E6E6;
  color: #808080;
  font-size: 12px;
  text-align: center;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line .title h1 span {
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  margin: 0 0 0 10px;
  font-weight: 600;
  color: #1F1F1F;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line .title > label {
  font-size: 14px;
  color: #B3B3B3;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line .contain {
  white-space: normal;
  word-break: break-all;
  font-size: 14px;
  color: #808080;
  line-height: 22px;
  padding: 4px 0 12px 0;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line .operate {
  display: flex;
  justify-content: flex-end;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line .operate > a {
  margin: 0 10px 10px 0;
  font-size: 12px;
  color: #808080;
  padding: 0 8px;
  border-radius: 2px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #EDEDED;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line .operate > a.active {
  margin: 0 0 10px 0;
  color: #2691E9;
  background: #E9F5FE;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line.ques,
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line.answer {
  border-bottom: 1px solid #EBEBEB;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line.answer:last-child {
  border-bottom: 0;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line.answer .title h1 {
  color: #2691E9;
  font-size: 14px;
}
.live-info-container .tab-container.quest-and-answer .wrap-item .item-line.answer .contain {
  padding: 8px 0 12px 0;
}
.section-activity {
  margin-top: 20px;
  height: 240px;
  background: #fff;
}
