@charset 'utf-8';
@import './normalize.css';
@import './mixin.css';
@import 'antd/dist/antd.less';

body,
html {
  height: 100vh;
  background: #F0F0F0 !important;
  background-color: #F0F0F0 !important;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

#root {
  height: 100%;
}

i {
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}

img {
  max-width: 100%;
  vertical-align: middle;
}


img[data-img="unloaded"] {
  display: none;
}

p,
a,
span,
label,
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ofweek-link {
  color: #288CEB;
  font-size: 14px;
}

.editor-container {

  .text-area {
    width: 100%;
    height: 80px;
    line-height: 1;
    font-size: 14px;
    color: #B3B3B3;
    resize: none;
    border: 1px solid #E6E6E6;
    background: transparent;
    border-radius: 2px;
    padding: 12px;
  }

  .operate-area {
    .tool {
      position: relative;

      .face-box {
        position: absolute;
        top: -80px;
        left: 0;
        width: 185px;
        height: 88px;
        overflow-x: hidden;
        overflow-y: hidden;
        border: 1px solid #d4d4d4;
        background: #fff;

        &:hover {
          overflow-y: auto;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
        }

        li {
          cursor: pointer;
          background: #fff;
          width: calc(100% / 6);
          height: 29px;
          box-sizing: border-box;
          text-align: center;
          border-right: 1px solid #d4d4d4;
          border-bottom: 1px solid #d4d4d4;

          &:nth-child(6n) {
            border-right: 0;
          }
        }
      }

      i {
        margin: 14px 0 22px 14px;
        width: 18px;
        height: 15px;
        background: url(~assets/img/room/i-face.webp) no-repeat center/100%;

        &.face {
          margin: 14px 0 20px 6px;
          width: 18px;
          height: 18px;
          background: url(~assets/img/room/i-face.webp) no-repeat center/100%;
        }
      }
    }

    .send-btn {
      margin: 9px 0 18px 0;
      min-width: 50px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      color: #fff;
      font-size: 12px;
      border-radius: 2px;
      background: #E65E50;
    }
  }
}

.icon-min-win {
  width: 30px;
  height: 30px;
  background: url(~assets/img/login/i-min-win.webp) no-repeat center/14px 1px;
}

.icon-close-win {
  width: 30px;
  height: 30px;
  background: url(~assets/img/login/i-close-win.webp) no-repeat center/14px 14px;
}

.main-container {
  padding: 22px 22px 0 22px;
}

.bg-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.3);
}

.ant-form {
  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-input::placeholder {
    color: #999;
  }
}

.ant-form-item-explain-error {
  position: relative;
  padding-left: 22px;

  &::before {
    position: absolute;
    top: 4px;
    left: 6px;
    content: ' ';
    width: 12px;
    height: 12px;
    background: url(~assets/img/login/i-tips.webp) no-repeat left center/100%;
  }
}

.ant-form-item-has-error .ant-form-item-explain.ant-form-item-explain-error {
  color: #AF0101;
}

.ant-list {
  .ant-list-pagination {
    text-align: center;
  }

  .ant-pagination {
    text-align: center;
  }
}

.ant-list-pagination {
  text-align: center;

  .ant-pagination-item {

    a {
      line-height: inherit;
    }
  }

}

::-webkit-scrollbar {
  z-index: 11;
  width: 6px
}

::-webkit-scrollbar:horizontal {
  height: 6px
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 6px;
  background: #b4bccc
}

::-webkit-scrollbar-corner {
  background: #fff
}

::-webkit-scrollbar-track {
  background: #fff
}

::-webkit-scrollbar-track-piece {
  background: #fff;
  width: 6px
}